@use "@/styles/variables" as v;

.shoppingCartIcon {
  position: relative;
  font-size: 19px;
  cursor: pointer;
  transition: color 500ms ease;
  color: v.$color-black;
  
  &.active,
  &:hover {
    color: v.$color-red-600;
  }

  @media (max-width: 992px) {
    font-size: 18px;
  }
}
