$white: #fff;
$dark: #212529;

$color-gray-extra-light: #f6f6f6;
$color-gray-light: #ccc;
$color-gray-dark: #69727d;
$color-black: #000;

$color-blue: #193cb8;

$color-accent-100: #ffedd4;
$color-accent-400: #ca3500;
$color-accent-600: #f54900;
$color-accent-dark: #bb4d00;

$color-red-600: #c10007;
$color-red-500: #fb2c36;
$color-red-800: #9f0712;

$color-emerald-500: #00bc7d;

$color-accent-olive-light: #796f51;
$color-accent-olive: #59523c;

$body-bg: $white;
$body-text: $dark;

$border-color: $color-gray-light;
$old-price-color: $color-gray-dark;
$border-focus-color: $color-black;
