@use "@/styles/variables" as v;

  .accountIcon {
    font-size: 21px;
    text-decoration: none;
    cursor: pointer;
    transition: color 300ms ease;
    color: v.$color-black;
    &.active,
    &:hover {
      color: v.$color-accent-400;
    }
  }